SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/erp
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379

JWT_ACCESS_MINUTES=500

# Keystore settings (align with docker-compose mount)
AUTH_KEYSTORE_LOCATION=/run/secrets/auth-keystore.p12
AUTH_KEYSTORE_PASSWORD=changeit
AUTH_KEY_PASSWORD=changeit

